body {
    font-family: 'Poppins', sans-serif;
}

p {
    margin: 10px 25px 10px 0px;
    line-height: 30px;
}

main {
    background-color: lightgray;
    padding: 150px 10px 75px 10px;
  }

h1 {
    color: lightseagreen;
    font-weight: bold;
    font-size: 30px;
    padding: 20px 0px 0px 0px;
}

img {
    float: left;
    margin: 10px 25px 25px 0px;
  }